html {
    background: #81C784;
}

#canvasId {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 4px solid #519657;
}

li {
    color: #444444;
}

a:link {
    font-family: 'Orbitron', sans-serif;
    color: #444444;
}

a:hover {
    color: #FFFFFF;
}

a:active{
    color: #82E9DE;
}

a:visited{
    color: #444444;
}