html {
    background-color: #81C784;
}

body {
    font-size: 18px;
    font-family: sans-serif;
    word-spacing: 3px;
    letter-spacing: 0px;
}

span {
    font-size: 18px;
    font-family: sans-serif;
    word-spacing: 3px;
    letter-spacing: 0px;
}

.a {
    font-size: 18px;
    font-family: sans-serif;
    word-spacing: 3px;
    letter-spacing: 0px;
}
